<h1>Web-App.com</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome!
Click on link below to activate your account:
</p>

<%= link_to "Click to active", edit_account_activation_url(@user.activation_token, email: @user.email) %>
